

div.accomodation-section {

    display: grid;
    place-items: center;
/*    height: 100vh;*/
    width: 100%;
    position: relative;
    z-index: 1; /* Ensure this is above the pseudo-element */

  /*  background-image: url('public/pattern_palms.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5; /* Set the desired opacity */

}

div.accomodation-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./public/pattern_coco.png');
    opacity: 0.1; /* Set the desired opacity */
    z-index: -1; /* Place it behind the content */
    pointer-events: none; /* Ensure the background doesn't interfere with clicks */
}



.three-column-section {
    display: grid;

    grid-template-columns: repeat(3, 1fr); /* Three equal columns */
    gap: 5%; /* Space between the grid items */
    padding: 5%;
/*    background-color: #f9f9f9; /* Background color of the section */*/
}

.grid-item {
    background-color: white;
    height: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add a shadow for depth */
    text-align: center;
}

.hero-image {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Optional: rounded corners for the images */
    margin-bottom: 15px;
}

.grid-item h2 {
    font-size: 1.5rem;
    margin: 15px 0;
}

.grid-item p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 15px;
}



.grid-item a {
/*    text-decoration: none;*/
    color: #000;
    font-weight: bold;
}

.grid-item ul li {
    text-align: left;
    margin-bottom: 10px;
}


/* Responsive adjustments */
@media (max-width: 1200px) {
    .three-column-section {
        grid-template-columns: 1fr 1fr; /* Stack the grid items */
    }
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .three-column-section {
        grid-template-columns: 1fr; /* Stack the grid items */
        height: auto;
        gap:0;
        padding:0;
    }

    .grid-item {
        margin-bottom: 20px; /* Add space between stacked items */
        border-radius: 0;
    }
}
