



div.quote  {
    margin: 5% 20%;
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 300;
    display: flex;
    flex-direction: column;
}

div.quote ul {
    margin-top: 0;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    div.quote  {
        font-size: 1.2rem;
    line-height: 2rem;
    }
}


div.quote-section {

    display: grid;
    place-items: center;
/*    height: 100vh;*/
    width: 100%;
    position: relative;
    z-index: 1; /* Ensure this is above the pseudo-element */

  /*  background-image: url('public/pattern_palms.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5; /* Set the desired opacity */

}

div.quote-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://camilajohannes.com/public/pattern_farn.png');
    opacity: 0.2; /* Set the desired opacity */
    z-index: -1; /* Place it behind the content */
    pointer-events: none; /* Ensure the background doesn't interfere with clicks */
}





/* Responsive adjustments */
@media (max-width: 1200px) {
    div.quote  {
        margin: 10% 20px;
    }
}

.quote .signature {
    display: flex;
    justify-content: flex-start;
    justify-content: right;
    margin-top: 20px;
}


.main-element {
    background: white; /* Background color of the centered element */
    padding: 20px; /* Adjust padding as needed */
/*    border-radius: 8px; /* Optional: rounded corners */*/
/*    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: shadow for a nice effect */*/
max-width: 90%; /* Ensure it fits within smaller viewports */
width: 400px; /* Fixed width, adjust as needed */
text-align: center; /* Optional: center text inside */
}

body, html {
    margin: 0;
    height: 100%;
}

.video-container {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
    position: relative;
/*    overflow: hidden;*/

}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    filter: blur(2px); 

}

.placeholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./public/firstframe.jpg') no-repeat center center;
    background-size: cover;
    filter: blur(2px);
    z-index: 2;
    transition: opacity 0.5s ease-out;

}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.foreground-text {
    position: relative;
    z-index: 3;
    color: white;
    font-size: 1.5rem;

font-weight: 200;
text-align: center;
}


.foreground-text h1 {
    font-size: 5.5rem;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    font-weight: 100;
}

.foreground-text a {
    color: white;
    text-decoration: none;
     font-family: "Montserrat", sans-serif;
        font-style: normal;
}

.outlined-button {
    display: inline-block;
    padding: 10px 20px;
    color: #FFF; /* Text color */
    text-decoration: none; /* Remove underline */
    font-size: 16px;
    font-weight: normal;
    border: 1px solid #FFF; /* Border color */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

.outlined-button:hover {
    background-color: #FFF; /* Background on hover */
    color: #000; /* Text color on hover */
}


.note {position: absolute;
    bottom: 10vh;
    z-index: 3; /* Ensure it's on top of the overlay and video */
    color: white;
    font-size: .8rem;
    text-align: center;
    font-style: italic;
    margin-bottom: 20px;
width: 100%;
box-sizing: border-box;
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .foreground-text h1 {
        font-size: 2.5rem;
    }

video, .placeholder  {

    filter: blur(1px); 
}

    .foreground-text  {
    font-size: 1.2rem;
}
}

