
.rsvp-section {
	display: grid;
/*	height: 40vh;*/
/*background: #0E2B16;*/
/*color:white;*/
}

div.rsvp-section {
padding: 5% 0;

    display: grid;
    place-items: center;
/*    height: 100vh;*/
    width: 100%;
    position: relative;
    z-index: 1; /* Ensure this is above the pseudo-element */

  /*  background-image: url('public/pattern_palms.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5; /* Set the desired opacity */

}

div.rsvp-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./public/pattern_coco.png');
    opacity: 0.08; /* Set the desired opacity */
    z-index: -1; /* Place it behind the content */
    pointer-events: none; /* Ensure the background doesn't interfere with clicks */
}




.attendee-wrapper:first-child .removeAttendee  {
	display: none;
}

h3 {
	font-size: 1.8rem;
}

.form-section {
		display: flex;
		width: 100%;	
		justify-content: center;
		padding: 0 20%;
	flex-direction: column;
	}

.form-section form {

		width: 100%;	
	}

.form-controls {
	margin: 5%;
}

#confirmation-message {
	display: none; 
	background: goldenrod;
	padding: 3rem;
	font-family: 'Cardo', serif;
	font-size: 1.5rem;
	color: #333;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

    transition: opacity 1s ease-in;
}


.instructions {
	margin: 5%;
	line-height: 2rem;

}

.attendee__group {
	margin: 0 5%;
}

.attendee__title {
	display: flex;
	justify-content: space-between;
	margin: 5%;
}

.attendee__variable {    
	display: flex;
	flex-direction: row;
	margin-bottom: 1rem;
}


.attendee_container {

    background-color: #f3f3f3;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}


.attendee__variable label {    
	width: 33%;
	font-style: normal;
	font-weight: normal;
}

.attendee__variable input {    
	width: 66%;
}




.attendee__variable.select p {
	width: 33%;
	text-align: left;
}

.attendee__variable.select label {    
	width: auto;
	margin: 10px;
}
.attendee__variable.select input {    
	width: auto;
}


.attendee_container {
	margin: 20px;
}

	.attendee__variable.select {
		flex-direction: column;
	}


/* Responsive adjustments */
@media (max-width: 1200px) {



	.attendee__variable.select label {
		font-size: .9rem;

	}

	.attendee_container {
		margin: 30px 0;
/*		padding: 0;*/
	}
	.form-section {

		padding: 0px;
	}


}



label {
    display: flex;
/*    margin-bottom: 1rem;*/
    align-items: center;
    justify-content: start;
    /*margin-bottom: 0.5rem;
    font-size: 1rem;
    color: #000;*/
}

/* Text Inputs and Selects */
input[type="text"],
input[type="email"],
select {
/*    width: 100%;*/
    padding: 0.75rem 1rem;

    font-size: 1rem;
    line-height: 1.2;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    background-color: #fff;
    color: #000;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
select:focus {
    border-color: #5e9ed6;
    box-shadow: 0 0 0 4px rgba(94, 158, 214, 0.1);
    outline: none;
}

/* Radio Buttons */
input[type="radio"] {
    margin-right: 0.5rem;
}

label input[type="radio"] + span {
    display: inline-block;
    margin-right: 1rem;
    font-size: 1rem;
    vertical-align: middle;
}

.button.button-clear {
	border: none;
}

.button.button-clear:hover {
	border: none;
	font-weight: bold;
}

.button {
	background: transparent;
    display: inline-block;
    padding: 10px 20px;
    color: #000; /* Text color */
    text-decoration: none; /* Remove underline */
    font-size: 16px;
    font-weight: normal;
    border: 1px solid #000; /* Border color */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

.button:hover {
/*    background-color: #000;  Background on hover */
    border: 1px solid #555; /* Border color */
    color: #555; /* Text color on hover */
}


/* Basic Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
/*    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;*/
}
