

div.info-section  {
    margin: 0 20%;
    font-size: 1rem;
    line-height: 2rem;
    display: flex;
    flex-direction: column;
}

div.info-section ul {
    margin-top: 0;
}

/* Responsive adjustments */
@media (max-width: 1200px) {

    div.info-section  {

        margin: 0 20px;
    }


}